<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Patients</title>
    <!-- Include Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Bootstrap and jQuery JS -->
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

    <!-- Include Header -->
    <th:block th:include="header :: header"></th:block>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .status-circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
        }

        .status-open {
            background-color: green; /* Color for open status */
        }

        .status-in-progress {
            background-color: orange; /* Color for in-progress status */
        }

        .status-closed {
            background-color: red; /* Color for closed status */
        }

        /* Tooltip on hover */
        .status-circle:hover::after {
            content: attr(data-tooltip);  /* Tooltip text from the data attribute */
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
            background-color: black;
            color: white;
            padding: 5px;
            border-radius: 5px;
            white-space: nowrap;
            font-size: 12px;
            z-index: 1000;
        }

    </style>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-3 text-center">Patients List </h1>
    <div class="alert alert-success text-center"
         th:if="${today}">For <span class="fw-bold" th:text="${#temporals.format(todayDate, 'EEEE, dd/MMMM/yyyy')}+' '"></span>
    </div>

    <div th:if="${clientExistsForDefaultPage}">
        <!-- Modal Structure -->
        <div th:if= "${!session.dontShowRescheduledModal}" class="modal fade" id="rescheduledAppointmentsModal" tabindex="-1" aria-labelledby="rescheduledAppointmentsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rescheduledAppointmentsModalLabel">Rescheduled Appointments</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            <strong>Notice:</strong> You have rescheduled appointments today!
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-check me-3">
                            <input class="form-check-input border-warning" type="checkbox" id="dontShowAgain" name="dontShowAgain" />
                            <label class="form-check-label" for="dontShowAgain">
                                Don't show this again
                            </label>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Script to automatically show the modal when condition is true -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var rescheduledAppointmentsModal = new bootstrap.Modal(document.getElementById('rescheduledAppointmentsModal'));
                rescheduledAppointmentsModal.show();

                // Event listener to handle checkbox state
                document.getElementById('dontShowAgain').addEventListener('change', function () {
                    if (this.checked) {
                        // Save checkbox state via an AJAX call to the server
                        fetch('/setSessionValue', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ dontShowAgain: true })
                        }).then(response => {
                            if (response.ok) {
                                console.log('Session value updated');
                            } else {
                                console.log('Error updating session value');
                            }
                        });
                    }
                });
            });
        </script>
    </div>



  <!-- Add New Client Button -->
    <div class="d-flex justify-content-end mb-3">
        <a href="/clients/add" class="btn btn-primary">Add New Patient</a>
    </div>

    <!-- Responsive Table Wrapper -->
    <div class="table-responsive" th:if="${!clientsPage.isEmpty()}">
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clientsPage.content}">
                <td th:text="${client.id}"></td>
                <td>
                    <span th:text="${client.firstName}"></span>
                    <span th:text="' ' + ${client.lastName}"></span>
                </td>
                <td th:text="${client.phoneNumber}"></td>
                <td>
                    <!-- Status circle with dynamic class and tooltip -->
                    <span class="status-circle m-2"
                          th:classappend="'status-' + ${client.status.displayName.toLowerCase()}"
                          th:attr="data-tooltip=${#strings.capitalize(client.status.displayName)}"> <!-- Tooltip formatted -->
                    </span>
                </td>

                <td>
                    <a th:href="@{/clients/view(id=${client.id})}" class="btn btn-sm btn-info m-1">View</a>
                    <a th:href="@{/clients/edit(id=${client.id})}" class="btn btn-sm btn-warning m-1">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger m-1" data-bs-toggle="modal"
                       data-bs-target="#deleteClientModal"
                       sec:authorize="hasRole('ADMIN')">Delete</a>

                    <!-- Delete Patient Confirmation Modal -->
                    <div class="modal fade" id="deleteClientModal" tabindex="-1"
                         aria-labelledby="deleteClientModalLabel" aria-hidden="true" sec:authorize="hasRole('ADMIN')">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-danger text-white">
                                    <h5 class="modal-title" id="deleteClientModalLabel">Delete Patient Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this patient? This action cannot be undone.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    <a th:href="@{/clients/delete(id=${client.id})}" id="confirmDeleteClient"
                                       class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${clientsPage.isEmpty()}">
        <h2 class="text-center">No records available</h2>
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-between align-items-center mt-3" th:if="${!clientsPage.isEmpty()}">
    <span th:if="${clientsPage.hasPrevious()}">
      <a th:href="@{/clients(page=${clientsPage.number - 1}, size=${clientsPage.size})}" class="btn btn-secondary">Previous</a>
    </span>
        <span>
      Page <span th:text="${clientsPage.number + 1}">1</span> of <span th:text="${clientsPage.totalPages}">1</span>
    </span>
        <span th:if="${clientsPage.hasNext()}">
      <a th:href="@{/clients(page=${clientsPage.number + 1}, size=${clientsPage.size})}"
         class="btn btn-secondary">Next</a>
    </span>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
